h1{
    text-align: center; background-color:  bisque; color: darkcyan; 
}
#user1{
    font-size: 10px; color: crimson; 
}
#user2{
    font-size: 20px; color: green; 
}
#user3{
    font-size: 30px; color: blue; 
}