h1{
    text-align: center;
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
}
th{
    background-color: rgb(64, 64, 241);
    color: azure;
    font-size: 25px;
}
body{
    background-color:whitesmoke;
}
.user1{
    background-color: azure;
}
.a1{
    background-color: chartreuse;
    padding: 10px;
}
.a2{
    background-color: yellow;
    padding: 10px;
}
.a3{
    background-color: crimson;
    padding: 10px;
    
}
button{
    border: 0;
}
